<a href="https://colab.research.google.com/github/stellajo99/machineLearning/blob/main/%EC%8B%A4%EC%8A%B53_%EB%B3%B4%EC%8A%A4%ED%84%B4_%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
데이터 = pd.read_csv(파일경로)
print(데이터.columns)
데이터.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 종속변수, 독립변수 분리
독립 = 데이터[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 데이터[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 2. 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[13]) #독립변수의 칼럼의 수가 하나이기 때문에 1
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
# 3. 모델을 학습합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4443
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4756
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3591
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.9793
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5259
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.8218
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 24.3438
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3264
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 24.7692
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 24.6607

In [ ]:
# 4. 모델을 이용합니다.
model.predict(독립[0:5])

array([[29.876532],
       [24.781252],
       [31.21926 ],
       [30.03715 ],
       [29.644842]], dtype=float32)

In [ ]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [ ]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.08940475],
        [ 0.05452823],
        [-0.03519012],
        [ 2.8947964 ],
        [ 0.86374545],
        [ 5.169138  ],
        [-0.00613254],
        [-0.9861602 ],
        [ 0.17614122],
        [-0.01003965],
        [-0.3492855 ],
        [ 0.01436867],
        [-0.47712436]], dtype=float32), array([3.7711577], dtype=float32)]